.k{
     display:block;
    max-width: 300px;
    margin: 0 auto;
    width: 16%;
    height: 16%;
  
  
    
}
.i{
    
      height: 170px;
    background-color: green;
}
body{
    
    margin: 0px;
}
li{
    margin-left: 200px;
}
.z{
    
    
    height: 240px;
  
}


.w{
height:240px;
    
    display: block;
    margin-top: -20px;
    
float: left;}

.c{
     
    height: 200px;
    
    
}
.x{ 
    
    
    height: 200px;
    
}